Flask==0.8
Flask-SQLAlchemy==0.15
Jinja2==2.6
SQLAlchemy==0.7.4
Werkzeug==0.8.2
simplejson==2.3.2
flup==1.0.2
Flask-OpenID==1.0.1
python-openid==2.2.5
Tempita==0.5.1
decorator==3.3.2
sqlalchemy-migrate==0.7.2
pytz==2011n
