blinker==1.2
decorator==3.4.0
distribute==0.6.45
Flask-OpenID==1.1.1
Flask-SQLAlchemy==0.16
Flask==0.10.1
flatland==dev
flup==1.0.3.dev-20110405
itsdangerous==0.21
Jinja2==2.7
MarkupSafe==0.18
paramiko==1.10.1
path.py==4.1
pip-tools==0.3.4
python-openid==2.2.5
pytz==2013b
requests==1.2.3
simplejson==3.3.0
sqlalchemy-migrate==0.7.2
SQLAlchemy==0.8.1
Tempita==0.5.1
Werkzeug==0.9.1
