html, body {
    background-color: #eee;
}

.container > footer p {
    text-align: center;
}

.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px;
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

.navbar p.logged-in {
    color: #ffffff;
}
.navbar div.nav-collapse.pull-right {
    height: 34px;
}
a.email {
    font-size: 85%;
    color: #888;
}

.flex-value {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.del-value img {
    vertical-align: middle;
}

.add-value {
    display: block;
    position: absolute;
    bottom: 17px;
    right: 20px;
}

.add-value img {
    display: block;
}

dl.person-info * {
    font-size: 120%;
    line-height: 24px;
}

.person-filter {
    margin-bottom: 5px;
}

.hide-person {
    opacity:0;
    -webkit-animation:.5s hide-person;
    -moz-animation:.5s hide-person;
    -ms-animation:.5s hide-person;
    animation:.5s hide-person;
}

.logo-box {
    margin: -15px 0;
}

.logo-box img {
    max-height: 50px;
}

.diff-add {
    color: #468847;
    font-style: italic;
}

.diff-remove {
    color: #B94A48;
    text-decoration: line-through;
}

@-ms-keyframes hide-person {
    0%   { opacity: 1; }
    100% { opacity: 0;}
}

@-webkit-keyframes hide-person {
    0%   { opacity: 1; }
    100% { opacity: 0;}
}

@-moz-keyframes hide-person {
    0%   { opacity: 1; }
    100% { opacity: 0;}
}

@keyframes hide-person {
    0%   { opacity: 1; }
    100% { opacity: 0;}
}

.hidden-person {
    display:none;
}

@media (min-width: 481px) {

    .person-listing {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

}

@media (min-width: 768px) {

    .person-listing {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    .logo-box img {
        max-height: 100px;
    }

}

@media (min-width: 980px) {

    body {
        padding-top: 40px;
    }

    .person-listing {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }

}

@media (min-width: 1200px) {

    .person-listing {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }

}
