{% extends 'layout.html' %}

{% block h1 -%}
  Comparație a versiunilor &mdash; {{ person.name }}
{%- endblock %}

{% block content %}

{% set admin_view = is_admin(g.user) %}

<div class="row">
  <div class="span5 offset1">

    <h3>
      {{ version_a.time | datetime }}
      {% if admin_view %}{{ version_a.user.name }}{% endif %}
    </h3>

    <table>
    {% for key, value in version_a_items %}

      {% set cls = "" if (key,value) in version_b_items else "diff-remove" %}
      <tr class="{{ cls }}">
        <th>{{ key }}</th>
        <td>{{ value }}</td>
      </tr>

    {% endfor -%}
    </table>

  </div>
  <div class="span5 offset1">

    <h3>
      {{ version_b.time | datetime }}
      {% if admin_view %}{{ version_b.user.name }}{% endif %}
    </h3>

    <table>
    {% for key, value in version_b_items %}

      {% set cls = "" if (key,value) in version_a_items else "diff-add" %}
      <tr class="{{ cls }}">
        <th>{{ key }}</th>
        <td>{{ value }}</td>
      </tr>

    {% endfor -%}
    </table>

  </div>
</div>

{% endblock %}
