{% extends 'layout.html' %}

{% block h1 -%}
  Editare &mdash; {{ person.name }}
{%- endblock %}

{% block content %}

<div class="row">
  <div class="span8 offset1">

    <form method="post" class="edit-person form-horizontal">
    {% set plus_png_url = url_for('static', filename='plus.png') %}
    {% set minus_png_url = url_for('static', filename='minus.png') %}

    {% for prop_name, label in known_names.items() %}
      <div class="control-group flex-value">

        <label class="control-label">{{ label }}</label>

        {% for value in person_content[prop_name] %}
          <div class="controls">
            <a class="del-value" href="#"><img src="{{ minus_png_url }}"></a>
            <input name="{{ prop_name }}" value="{{ value }}" class="span5">
          </div>
        {% endfor %}

        <a class="add-value" data-field-name="{{ prop_name }}"
            href="#"><img src="{{ plus_png_url }}"></a>

      </div>
    {% endfor %}

      <div class="clearfix">
        <p class="controls">
          Sunt de acord ca contribuția mea să fie publicată sub licența
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/ro/"
            >Atribuire 3.0 România Creative Commons</a>.
        </p>
        <div class="controls">
          <input type="submit" class="btn btn-primary" value="Salvează">
          {% set url = url_for('webpages.person', person_id=person.id) %}
          <a class="btn" href="{{ url }}">Înapoi</a>
        </div>
      </div>

    </form>

  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
$(function() {
    $('.add-value').click(function(evt) {
        evt.preventDefault();
        var flex_parent = $(this).parent('.flex-value');
        var new_div = $('<div class="controls">').appendTo(flex_parent);
        new_div.append($('<input class="span5">').attr('name', $(this).attr('data-field-name')));
    });

    $('.del-value').click(function(evt) {
        var box_parent = $(this).parent('div.controls');
        box_parent.remove();
    });
});
</script>
{% endblock %}
