{% extends 'layout.html' %}

{% block h1 -%}
  Istoria modificărilor &mdash; {{ person.name }}
{%- endblock %}

{% block content %}

{% set admin_view = is_admin(g.user) %}

<div class="row">
  <div class="span12 offset1">

    <table class="condensed-table zebra-striped">
      <thead>

        <th>Zi, oră</th>

        {% if admin_view %}<th>Editor</th>{% endif %}

        <th></th>

      </thead>
      {%- for n in range(versions | count) %}
        {% set version = versions[n] %}
        {% set next_version = versions[n+1] %}
        <tr>

          <td>{{ version.time|datetime }}</td>

          {% if admin_view %}
            <td>{{ version.user.name }}</td>
          {% endif %}

          <td>
            {%- if next_version -%}
              {% set diff_url = url_for('webpages.diff', person_id=person.id,
                                        a_id=version.id, b_id=next_version.id) -%}
              <a href="{{ diff_url }}">compară</a>
            {%- endif -%}
          </td>

        </tr>
      {% endfor -%}
    </table>

  </div>
</div>

{% endblock %}
