{% extends 'layout.html' %}

{% block h1 -%}
  Persoane
{%- endblock %}

{% block content %}

<div class="row">
  <div class="span1"></div>
  <div class="span10">

    <table>

      <thead>
        <th>Nume</th>
        <th>Email</th>
      </thead>

      <tbody>

      {% for person_id, person in persons.items() %}
        <tr>
          {% set url = url_for('webpages.person', person_id=person_id) %}
          <td><a href="{{ url }}">{{ person['name'] }}</a></td>
          <td>{{ person['email'] | join(', ') }}</td>
        </tr>
      {% endfor %}

      </tbody>

    </table>

  </div>
</div>

{% endblock %}
