<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='html5.js') }}"></script>
  <![endif]-->
  <!-- http://twitter.github.com/bootstrap/ -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap-responsive.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Agenda de parlamentari</title>
</head>
<body>

<script src="{{ url_for('static', filename='modernizr-2.0.6.min.js') }}"></script>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      {% set url = url_for('webpages.search') %}
      <a class="brand" href="{{ url }}">Agenda de parlamentari</a>
        <div class="pull-right">
        {% if g.user %}
          <li>
            <a href="{{ url_for('auth.logout') }}">{{ g.user.name }} (logout)</a>
          </li>
        {% else %}
          <li>
            <a href="{{ url_for('auth.login') }}">Login cu contul Google</a>
          </li>
        {% endif %}
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="content">
    <div class="page-header">
      {% block header %}
      <h1>{% block h1 %}{% endblock %}</h1>
      {% endblock %}

      {% for category, message in get_flashed_messages(with_categories=True) %}
        <p class="alert-message {{ category }}">{{ message }}</p>
      {% endfor %}

    </div>
    {% block content %}{% endblock %}
  </div>

  <footer>
    <p>

      &copy; contributori 2012, disponibil sub licența
      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/ro/"
        >Atribuire 3.0 România Creative Commons</a>.

      Codul sursă este disponibil liber <a
        href="https://github.com/alex-morega/agenda-politicieni"
        >pe GitHub</a>.

    </p>
    <p>
      Download baza de date în format
      <a href="{{ url_for('webpages.download', format='csv') }}">CSV</a> sau
      <a href="{{ url_for('webpages.download', format='json') }}">JSON</a>.
    </p>
  </footer>
</div>

<script src="{{ url_for('static', filename='jquery-1.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

{% if config.GOOGLE_ANALYTICS_CODE %}
<script>
  window._gaq = [['_setAccount','{{ config.GOOGLE_ANALYTICS_CODE }}'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>
{% endif %}

</body>
</html>
