<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='html5.js') }}"></script>
  <![endif]-->
  <!-- http://twitter.github.com/bootstrap/ -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Agenda de parlamentari</title>
</head>
<body>

<script src="{{ url_for('static', filename='modernizr-2.0.6.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-1.7.1.min.js') }}"></script>

<div class="topbar">
  <div class="fill">
    <div class="container">
      {% set url = url_for('webpages.home') %}
      <a class="brand" href="{{ url }}">Agenda de parlamentari</a>
      <div class="pull-right">
      {% if g.user %}
        <p class="logged-in">
          {{ g.user.name }}
          <a href="{{ url_for('auth.logout') }}">logout</a>
        </p>
      {% else %}
        <form action="{{ url_for('auth.login') }}" method="post">
          <button class="btn" type="submit">Login cu contul Google</button>
        </form>
      {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="content">
    <div class="page-header">
      <h1>{% block h1 %}{% endblock %}</h1>

      {% for category, message in get_flashed_messages(with_categories=True) %}
        <p class="alert-message {{ category }}">{{ message }}</p>
      {% endfor %}

    </div>
    {% block content %}{% endblock %}
  </div>

  <footer>
    <p>

      &copy; contributori 2012, disponibil sub licența
      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/ro/"
        >Atribuire 3.0 România Creative Commons</a>.

      Codul sursă este disponibil liber <a
        href="https://github.com/alex-morega/agenda-politicieni"
        >pe GitHub</a>.

    </p>
    <p>
      Download baza de date în format
      <a href="{{ url_for('webpages.download', format='csv') }}">CSV</a> sau
      <a href="{{ url_for('webpages.download', format='json') }}">JSON</a>.
    </p>
  </footer>
</div>

{% if config.GOOGLE_ANALYTICS_CODE %}
<script>
  window._gaq = [['_setAccount','{{ config.GOOGLE_ANALYTICS_CODE }}'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>
{% endif %}

</body>
</html>
