{% extends 'layout.html' %}

{% block h1 -%}
  {%- set college = person.get_meta('college') -%}
  {{ person.name }} &ndash; {{ office_label[person.get_meta('office')] }}
  {%- if college %}
    ({{ college }})
  {%- endif -%}
{%- endblock %}

{% block content %}

<div class="row">
  <div class="span12">

    <dl class="person-info">
    {%- for name, values in person_content.items()|sort %}

      <dt>{{ known_names[name] }}</dt>
      {%- for value in values %}

        {% if name == 'email' %}
          <dd><a href="mailto:{{ value }}">{{ value }}</a></dd>
        {% elif name in ['website', 'twitter', 'facebook'] %}
          <dd><a href="{{ value }}">{{ value }}</a></dd>
        {% else %}
          <dd>{{ value }}</dd>
        {% endif %}

      {% endfor -%}

    {% endfor -%}
    <dt>Harta Politicii</dt>
      <dd><a href="http://hartapoliticii.ro/?name=
      {%- for value in person.name.split(' ') %}
        {%- for nume in value.split('-') %}
          {{- nume+'+' -}}
        {% endfor -%}
      {% endfor -%}
      " target="_blank">{{ person.name }}</a>
    </dl>

  </div>
  <div class="span4">

    {% set url = url_for('webpages.edit', person_id=person.id) %}
    {% set history_url = url_for('webpages.history', person_id=person.id) %}
    <a class="btn btn-primary" href="{{ url }}">Modifică</a>
    <a class="btn" href="{{ history_url }}">istorie</a>

  </div>
</div>

{% endblock %}
