{% extends 'layout.html' %}

{% block h1 -%}
  {{ person.name }}
{%- endblock %}

{% block content %}

<div class="row">
  <div class="span12">

    <dl>
    {%- for name, values in person_content.items()|sort %}

      <dt>{{ known_names[name] }}</dt>
      {%- for value in values %}

        {% if name == 'email' %}
          <dd><a href="mailto:{{ value }}">{{ value }}</a></dd>
        {% elif name == 'website' %}
          <dd><a href="{{ value }}">{{ value }}</a></dd>
        {% else %}
          <dd>{{ value }}</dd>
        {% endif %}

      {% endfor -%}

    {% endfor -%}
    </dl>

  </div>
  <div class="span2">

    {% set url = url_for('webpages.edit', person_id=person.id) %}
    <a class="btn primary" href="{{ url }}">Modificare</a>

  </div>
</div>

{% endblock %}
