{% extends 'layout.html' %}

{% block h1 -%}
  {{ person.name }}
{%- endblock %}

{% block content %}

<div class="row">
  <div class="span1"></div>
  <div class="span10">

    <dl>
    {%- for name, value in prop_map.items()|sort %}
      <dt>{{ known_names[name] }}</dt>
      <dd>{{ value }}</dd>
    {% endfor -%}
    </dl>

    {% set url = url_for('webpages.suggest', person_id=person.id) %}
    <a class="btn primary" href="{{ url }}">Propune o modificare</a>

  </div>
</div>

{% if suggestions %}
<div class="row">
  <div class="span1"></div>
  <div class="span10">

    <h4>Sugestii</h4>

    <ul>
    {%- for s in suggestions %}
      <li>{{ known_names[s.name] }}: {{ s.value }} ({{ s.date|datetime }})</li>
    {% endfor -%}
    </ul>

  </div>
</div>
{% endif %}

{% endblock %}
