{% extends 'layout.html' %}

{% block header %}
  <div class="row-fluid">
    <h1 class="span3">Persoane</h1>
    <div class="span3 logo-box">
      <a href="http://apti.ro/"><img src="{{-
        url_for('static', filename='logo_apti_transparent.png') }}"></a>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span11 person-listing">

      <form class="form-search">
        <input type="search" name="q" value="{{ q }}"
               class="input-medium search-query">
        <button type="submit" class="btn btn-primary">search</button>
      </form>

      {% if q %}
        {% set display_count = persons|length %}
        <p>
          Am găsit {{ count }} rezultate.
          {% if display_count < count %}
            Primele {{ display_count }}:
          {% endif %}
        </p>

        <ul>
        {%- for person in persons %}

          <li>
            {% set url = url_for('webpages.person', person_id=person.id) %}
            <a href="{{ url }}">{{ person.name }}</a>
          </li>

        {% endfor -%}
        </ul>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
