{% extends 'layout.html' %}

{% block header %}
  <div class="row">
    <h1 class="span4">Persoane</h1>
    <form class="span8 offset1 form-stacked person-filter">
      <div class="row">
        <div class="span2">
          {% set field = search_schema['office'] %}
          {{ form_gen.label(field, contents=field.properties['label']) }}
          {{ form_gen.select.open(field, class='span2') }}
            {{ form_gen.option(field, contents='') }}
            {% for value in field.valid_values %}
              {% set value_label = (field.properties.value_labels[value]
                                    if field.properties.value_labels else
                                    value) %}
              {{ form_gen.option(field, value=value, contents=value_label) }}
            {% endfor %}
          {{ form_gen.select.close() }}
        </div>
        {#
        <div class="span2">
          <label for="filter-college">Circumscripție</label>
          <select name="college" class="span2" id="filter-college">
            <option value=""></option>
            <option value="">1</option>
            <option value="">2</option>
          </select>
        </div>
        #}
      </div>
    </form>
  </div>
{% endblock %}

{% block content %}

<div class="row">
  <div class="span14 person-listing">

    <ul class="unstyled">
    {%- for person in persons %}

      <li>
        {% set url = url_for('webpages.person', person_id=person.id) %}
        <a href="{{ url }}">{{ person.name }}</a>
      </li>

    {% endfor -%}
    </ul>

  </div>
</div>

<script>
$(function() {
    $('.person-filter select').change(function() {
        $(this).parents('form').submit();
    });
});
</script>

{% endblock %}
