{% extends 'layout.html' %}

{% block h1 -%}
  Sugestii
{%- endblock %}

{% block content %}

<div class="row">
  <div class="span14">
    <table>

      <thead>
        <th>Nume</th>
        <th>Câmp</th>
        <th>Valoare</th>
        <th>Autor</th>
        <th>Dată</th>
        <th>Acțiune</th>
      </thead>

      <tbody>
      {% for s in suggestions %}
        {% set person = s.person %}
        <tr>
          {% set url = url_for('webpages.person', person_id=person.id) %}
          <td><a href="{{ url }}">{{ person['name'] }}</a></td>
          <td>{{ s.name }}</td>
          <td>{{ s.value }}</td>
          <td>
            {{ s.user.name }}
            <a class="email" href="mailto:{{ s.user.email }}">
              {{- s.user.email -}}
            </a>
          </td>
          <td>{{ s.date }}</td>
          <td class="action">
            {% set url = url_for('webpages.decision',
                                 suggestion_id=s.id, decision='accept') %}
            <a class="btn small success" href="{{ url }}">aprobă</a>
            {% set url = url_for('webpages.decision',
                                 suggestion_id=s.id, decision='reject') %}
            <a class="btn small danger" href="{{ url }}">șterge</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>

    </table>
  </div>
</div>

<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
  $('td.action .btn').click(function(evt) {
    evt.preventDefault();
    var frm = $('<form method="post">').attr('action', $(this).attr('href'));
    frm.appendTo('body').submit();
  });
</script>

{% endblock %}
