{% extends 'layout.html' %}

{% block h1 -%}
  Propune o schimbare &mdash; {{ person.name }}
{%- endblock %}

{% block content %}

<div class="row">

  {% for message in errors %}
    <p class="alert-message error">{{ message }}</p>
  {% endfor %}

  <form method="post">

    <div class="clearfix">
      <label for="frm-name">Contact</label>
      <div class="input">
        <select name="name" id="frm-name">
        {%- for name, label in known_names.items()|sort %}
          <option value="{{ name }}">{{ label }}</option>
        {% endfor -%}
        </select>
      </div>
    </div>

    <div class="clearfix">
      <label for="frm-value">Valoare</label>
      <div class="input">
        <input name="value" id="frm-value">
      </div>
    </div>

    {% if is_admin(g.user) %}
    <div class="clearfix">
      <label for="frm-auto-approve">Aprobare automată</label>
      <div class="input">
        <input type="checkbox" name="auto-approve"
               id="frm-auto-approve" checked>
      </div>
    </div>
    {% endif %}

    <div class="clearfix">
      <div class="input">
        <input type="submit" class="btn primary" value="Trimite">
        {% set url = url_for('webpages.person', person_id=person.id) %}
        <a class="btn" href="{{ url }}">Înapoi</a>
      </div>
    </div>

  </form>

</div>

{% endblock %}
